<ion-content [fullscreen]="true">
  <div class="head overflow-auto flex flex-col justify-center">
    <div class="menu">
      <ion-icon name="arrow-back" [routerLink]="['../']"></ion-icon>
      <a href="#" id="open-loading">Enregistrer</a>
      <ion-loading trigger="open-loading" message="Enregistrement..." duration="1000"></ion-loading>
    
    </div>
    <img src="../../../assets/mosque1.png" alt="">
    
    <div class="container">
      <div class="row">
        <button ion-button color="primary" outline>changer photo</button>
      </div>
    </div>
    <div class="form group row">
      <div class="col-xs-3">
        <ion-input label="Nom de mosquee" label-placement="floating" fill="outline" placeholder="Nom de mosquee"></ion-input>
      </div>
      <div class="col-xs-3">
        <ion-input label="Nom de iman" label-placement="floating" fill="outline" placeholder="Nom de iman"></ion-input>
      </div>
      <div class="col-xs-3">
        <ion-input label="Telephone" label-placement="floating" fill="outline" placeholder="Telephone de mosquee"></ion-input>
      </div>
      <div class="col-xs-3">
        <ion-input label="Quartier" label-placement="floating" fill="outline" placeholder="Quartier de la mosque"></ion-input>
      </div>
      <div class="col-xs-3">
        <ion-input label="Lagititude" label-placement="floating" fill="outline" placeholder="Lagititude de la mosque"></ion-input>
        <ion-input label="Longitude" label-placement="floating" fill="outline" placeholder="Longitude de la mosque"></ion-input>
      </div>
      <!-- <ion-datetime-button datetime="datetime" id="datetime"></ion-datetime-button> -->
    </div>

    <div class="container2">
      <div class="row2">
        <span class="priere">Programme de priere</span>
        <div class="text">
          <span>Priere</span>
          <span>Iqama</span>
          <span>Alarme</span>
        </div>
        <div class="text">
          <span>Duhr </span>
          <span>
            <input type="time" id="appt" name="appt">
          </span>
          <span><input type="time" id="appt" name="appt"></span>
        </div>
        <div class="text">
          <span>Asr </span>
          <span><input type="time" id="appt" name="appt"></span>
          <span><input type="time" id="appt" name="appt"></span>
        </div>
        <div class="text">
          <span>Magrib</span>
          <span class="Magrib"><input type="time" id="appt" name="appt"></span>
          <span><input type="time" id="appt" name="appt"></span>
        </div>
        <div class="text">
          <span>Isha </span>
          <span><input type="time" id="appt" name="appt"></span>
          <span><input type="time" id="appt" name="appt"></span>
        </div>
      </div>
    </div>

    <div class="container2">
      <div class="row2">
        <span class="priere">Programme de tabsir</span>
        <div class="text">
          <span>Jour</span>
          <span>Heure</span>
          <span>Alarme</span>
        </div>
        <div class="text">
          <span>Lundi</span>
          <span><input type="time" id="appt" name="appt"></span>
          <span><input type="time" id="appt" name="appt"></span>
        </div>
        <div class="text">
          <span>Mardi</span>
          <span><input type="time" id="appt" name="appt"></span>
          <span><input type="time" id="appt" name="appt"></span>
        </div>
        <div class="text">
          <span>Jeudi</span>
          <span><input type="time" id="appt" name="appt"></span>
          <span><input type="time" id="appt" name="appt"></span>
        </div>
        <div class="text">
          <span>Samedi</span>
          <span><input type="time" id="appt" name="appt"></span>
          <span><input type="time" id="appt" name="appt"></span>
        </div>
      </div>
    </div>
    <div class="btn">
      <ion-button id="open-loading">Enregistrer</ion-button>
      <ion-loading trigger="open-loading" message="Enregistrement..." duration="1000"></ion-loading>
    </div>
  </div>
</ion-content>

