<ion-content padding>
  <ion-header >
    <div class="entete">
      <ion-buttons slot="start">
        <ion-back-button class="button" defaultHref="/profile"></ion-back-button>
      </ion-buttons>
      <ion-title class="title">A propos de Dinɛ Sira</ion-title>
    </div>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Notre Mission</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Chez Dinɛ Sira, notre mission est de faciliter la vie quotidienne des croyants musulmans en période de mobilité tout en renforçant leur connexion spirituelle avec leur foi. Nous croyons en la création d'une expérience mobile pratique qui répond aux besoins uniques de la communauté musulmane au Mali.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Notre Équipe</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Notre équipe dévouée est composée de développeurs talentueux, de designers créatifs et d'experts en contenu passionnés par notre mission commune. Nous sommes unis par le désir de créer une application exceptionnelle pour notre communauté.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Notre Vision</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Notre vision pour Dinɛ Sira est de devenir l'application de référence pour les croyants musulmans au Mali. Nous nous engageons à continuer d'innover et d'élargir nos fonctionnalités pour mieux répondre aux besoins changeants de notre communauté, tout en offrant un soutien continu à leur vie spirituelle.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nous Contacter</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nous sommes toujours à l'écoute de nos utilisateurs. Si vous avez des questions, des commentaires ou des suggestions, n'hésitez pas à nous contacter :
      <br>
      <strong>Adresse e-mail :</strong> <a href="mailto:contact@mosqueemali.com">contact@dinɛsira.com</a>
      <br>
      <strong>Téléphone :</strong> +223 XX-XX-XX-XX
      <br>
      <strong>Adresse postale :</strong> Dinɛ Sira, Bamako, Mali
    </ion-card-content>
  </ion-card>
</ion-content>
