<ion-content>
  <div class="container">
      <div class="content">
          <div class="title">
              <h2>Connexion</h2>
          </div>
          <form (ngSubmit)="login()">
            <div class="input-container">
              <div class="input1">
                  <div class="icon-container">
                    <ion-icon name="mail-outline"></ion-icon>
                  </div>
                  <input type="email" placeholder="Email" name="eamil"  [(ngModel)]="user.email" required>
              </div>
             <div class="input2">
              <div class="icon-container">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </div>
              <input type="password" placeholder="Mot de passe" name="password" [(ngModel)]="user.password" required>
             </div>
              <p><a>Mot de passe oublié?</a></p>
              <button type="submit">Se connecter</button>
            </div>
          </form>
          <div class="barre_container">
              <div class="barre1"></div>
              <div class="mot">ou</div>
              <div class="barre2"></div>
          </div>
          <div class="google">
              <div class="logo">
                <ion-icon name="logo-google"></ion-icon>
              </div>
          </div>
          <div class="paragraphe">
              <p>Pas de compte?<a routerLink="/sign-up">Inscription</a></p>
          </div>
      </div>
</div>
</ion-content>
