<ion-header [translucent]="true">
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="conteneur">
    <div class="coran">
      <button [routerLink]="['coran']">
        <img src="../../assets/LE CORAN.jpg" alt="Le Coran" class="w-full">
      </button>
      <p class="ml-2">Coran</p>
    </div>
    <div class="tafsir">
      <button [routerLink]="['preches']"type="button">
        <img src="../../assets/Rectangle 30.png" alt="Image du coran representant le tafsir" class="w-full">
      </button>
      <p class="ml-2">Tafsir/Preche</p>
    </div>
    <div class="emission">
      <button [routerLink]="['radio']">
        <img src="../../assets/image 2.png" alt="radio" class="w-full">
      </button>
      <p class="ml-2">Emission</p>
    </div>
    <div class="calendrier">
      <button [routerLink]="['calendrier']">
        <img src="../../assets/hijri calendar.jpg" alt="radio" class="w-full">
      </button>
      <p class="ml-2">Calendrier Musulmane</p>
    </div>
  </div>
</ion-content>
