<ion-header [translucent]="true">
  <ion-toolbar>
    <app-header [currentDate]="currentTime?.date.hijri.day + ' ' + currentTime?.date.hijri.month.en + ' ' + currentTime?.date.hijri.year ">test</app-header>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="priere">
    <ul>
      <li><a type="btn btn-primary" routerLink="tab1.page.html">Fajr</a></li>
      <li><a routerLink="tab1.page.html">Sunrise</a></li>
      <li><a routerLink="tab1.page.html">Dhurh</a></li>
      <li><a routerLink="tab1.page.html">Asr</a></li>
      <li><a routerLink="tab1.page.html">Maghrib</a></li>
      <li><a routerLink="tab1.page.html">Isha</a></li>
    </ul>
  </div>
  <div class="img">
    <ul class="heure">
      <li><span>{{time}}</span></li>
      <li><span id="heure">{{priereTime}}</span></li>
    </ul>
    <ul class="temps">
      <li><span id="temps">Tepms restant</span></li>
      <li><span class="log">-02:09:43</span></li>
    </ul>
    <img src="../../../assets/5.jpeg" alt="">
    <ul class="position">
      <li><ion-icon name="location"></ion-icon></li>
      <li><span> Bamako, AMDALAYE ACI</span></li>
    </ul>
  </div>
  <div class="annonce">
    <h2 class="mb-1">ANNONCES <ion-icon name="megaphone"></ion-icon></h2>
    <div>
      <swiper-container
      [loop]="true"
      [pagination]="{clickable: true, dynamicBullets: true}"
      [autoplay]="{deplay:1000}"
      
      >
        <swiper-slide *ngFor="let image of imagesAnnonces ">
          <img [src]="image" alt=""/>
        </swiper-slide>
      </swiper-container>
    </div> 
  </div>
  <div class="mosque">
    <h2 class="mb-1">MOSQUEE PROCHE  <ion-icon name="walk"></ion-icon></h2>
    <div>
      <swiper-container
      [loop]="true"
      [autoplay]="{deplay:1000}"
      >
        <swiper-slide *ngFor="let slide of mosquee " class="relative" >
          <img [src]="slide.src" alt="mosquee" [routerLink]="['detail-mosque', slide.id]">
          <div class="absolute bottom-1 left-1 p-1 flex items-center bg-gray-500 rounded-md text-white"><h2 class="text-white">{{slide.nom}}</h2></div>
        </swiper-slide>
      </swiper-container>
    </div> 
  </div>
</ion-content>
