<ion-header [translucent]="true">
  <ion-toolbar>
    <app-header>test</app-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="priere">
    <ul>
      <li><a routerLink="tab1.page.html" type="btn btn-primay">Fajr</a></li>
      <li><a routerLink="tab1.page.html">Sunrise</a></li>
      <li><a routerLink="tab1.page.html">Dhurh</a></li>
      <li><a routerLink="tab1.page.html">Asr</a></li>
      <li><a routerLink="tab1.page.html">Maghrib</a></li>
      <li><a routerLink="tab1.page.html">Isha</a></li>
    </ul>
  </div>
  <div class="img">
    <ul class="heure">
      <li><span>Maghreb</span></li>
      <li><span id="heure">18:45</span></li>
    </ul>
    <ul class="temps">
      <li><span id="temps">Tepms restant</span></li>
      <li><span class="log">-02:09:43</span></li>
    </ul>
    <img src="../../../assets/5.jpeg" alt="">
    <ul class="position">
      <li><ion-icon name="location"></ion-icon></li>
      <li><span> Bamako, AMDALAYE ACI</span></li>
    </ul>
  </div>
  <div class="annonce">
    <h3>ANNONCES <ion-icon name="megaphone"></ion-icon></h3>
    <div>
      <swiper-container
      [loop]="true"
      [pagination]="{clickable: true, dynamicBullets: true}"
      [autoplay]="{deplay:1000}"
      effect="flip"
      >
        <swiper-slide *ngFor="let image of imagesAnnonces ">
          <img [src]="image" alt=""/>
        </swiper-slide>
      </swiper-container>
    </div> 
  </div>
  <div class="mosque">
    <h3>MOSQUEE PROCHE  <ion-icon name="walk"></ion-icon></h3>
    <div>
      <swiper-container
      [loop]="true"
      [autoplay]="{deplay:1000}"
      >
        <swiper-slide *ngFor="let slide of mosquee ">
          <img [src]="slide.src" alt="mosquee">
          <h2>{{slide.nom}}</h2>
        </swiper-slide>
      </swiper-container>
    </div> 
  </div>
</ion-content>
