<ion-header [translucent]="true">
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <div class="prayer-list">
      <button class="prayer-button">Fajr</button>
      <button class="prayer-button">Sunrise</button>
      <button class="prayer-button">Dhurh</button>
      <button class="prayer-button">Asr</button>
      <button class="prayer-button">Maghrib</button>
      <button class="prayer-button">Isha</button>
    </div>
  
  
    <div class="card_container h-[160px] flex justify-center item-center w-full ">
      <div class="w-full flex justify-center item-center">
          <div class="card_content bg-black w-[95%] principal">
            <div class="pap h-full pl-4 flex flex-col justify-around ">
              <div class="text-white text-xl">
              <h2>Dhuhr</h2>
              <h3 class="text-3xl font-bold">13:00</h3>
            </div>

            <div class="flex w-full prochaine ">
              <h1 class="text-white ">Prochaine priere: Asr  16:00</h1>
            </div>
            
          
          </div>
          </div>
      </div>
  </div>
  
    <h2> Annonces</h2>
      
  
    <div >
      <igx-carousel #carousel [navigation]="false" [pause]="false" animationType="slide" [interval]="5000">
          <igx-slide style="height: 210px;" *ngFor="let slide of slides;">
              <div class="image-container">
                  <img [src]="slide.src">
              </div>
          </igx-slide>
      </igx-carousel>
    </div>

    <h2> Mosquée à proximité</h2>
    <div class="carousel-container">
      <igx-carousel #carousel [navigation]="false" [pause]="true" animationType="slide"  [gesturesSupport]="true">
          <igx-slide *ngFor="let slide of mosquee;">
              <div class="image-container" class="relative" >
                  <img [src]="slide.src">
                  <h1 class="absolute text-white left-2 bottom-2 font-bold border-blue-700 p-3 rounded-md ">{{slide.nom}}</h1>
              </div>
          </igx-slide>
      </igx-carousel>
    </div>
</ion-content>
