<ion-header  class="flex flex-row items-center justify-between px-2">
  <ion-back-button defaultHref="tabs/tab2"></ion-back-button> 
</ion-header>
<ion-content [fullscreen]="true">
  <div class="head">
    <img [src]="mosques?.image" class="w-full h-[190px] " alt="">
    <div class="container">
      <div class="row">
        <span class="mosque">{{mosques?.info.nom}} <a *ngIf="user?.admin === true" href="#" [routerLink]="['editer-mosque', mosques?.info.id]">Editer</a> </span>
        <span class="iman">{{mosques?.info.imam}}</span>
        <span><i id="icon1" class="bi bi-telephone-fill"></i> {{mosques?.info.numero}} </span>
        <span><i id="icon1" class="bi bi-geo-alt-fill"></i>{{mosques?.info.quartier}}</span>
        <span class="icon">
          <i id="icon" class="bi bi-telephone-fill"></i>
          <i id="icon" [routerLink]="['map']" class="bi bi-geo-alt-fill"></i>
          <i id="icon" class="bi bi-heart-fill"></i>
          <i id="icon" class="bi bi-bell-fill"></i>
        </span>
      </div>
    </div>
    <div class="container2">
      <div class="row2">
        <span class="priere">Programme de prieres</span>
        <div class="text">
          <span>Prieres</span>
          <span>Iqama</span>
          <span>Alarme</span>
        </div>
        <div class="text">
          <span>Fajr</span>
          <span>{{mosques?.prieres.fadjr}}</span>
          <span>{{mosques?.prieres.fadjr}}</span>
        </div>
        <div class="text">
          <span>Dhuhr</span>
          <span>{{mosques?.prieres.dhuhr}}</span>
          <span>{{mosques?.prieres.dhuhr}}</span>
        </div>
        <div class="text">
          <span>Asr</span>
          <span>{{mosques?.prieres.asr}}</span>
          <span></span>
        </div>
        <div class="text">
          <span>Maghrib</span>
          <span>{{mosques?.prieres.maghrib}}</span>
          <span>{{mosques?.prieres.dhuhr}}</span>
        </div>
        <div class="text">
          <span>Isha</span>
          <span>{{mosques?.prieres.isha}}</span>
          <span>{{mosques?.prieres.isha}}</span>
        </div>
      </div>
    </div>
    <div class="container2">
      <div class="row2">
        <span class="priere">Programme de tabsir</span>
        <div class="text">
          <span>Jour</span>
          <span>Heure</span>
          <span>Alarme</span>
        </div>
        <div class="text" *ngIf="mosques?.tabsir.lundi !== ''">
          <span>Lundi</span>
          <span>{{mosques?.tabsir.lundi}}</span>
          <span>15:00</span>
        </div>
        <div class="text" *ngIf="mosques?.tabsir.mercredi !== ''">
          <span>Mercredi</span>
          <span>{{mosques?.tabsir.mercredi}}</span>
          <span>12:30</span>
        </div>
        <div class="text" *ngIf="mosques?.tabsir.dimanche !== ''">
          <span>Vendredi</span>
          <span>{{mosques?.tabsir.vendredi}}</span>
          <span>15:30</span>
        </div>
        <div class="text" *ngIf="mosques?.tabsir.samedi !== ''" >
          <span>Samedi</span>
          <span>{{mosques?.tabsir.samedi}}</span>
          <span>18:30</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
