.cardSelect{
    top: 10%;
    width: 95%;
    height: auto;
    align-self: center;
    position: absolute;
    border-radius: 20px;
    opacity: 90%;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.25);
    z-index: 1;
}

img{
    // height: 45%;
}
ion-card-title{
    font-weight: 700;
    // color: #C7903B;
}
ion-button{
    color: #3498db;
    margin-left: 30%;
    margin-top: 0px;
    font-weight: 700;
    margin-bottom: 20px;
}
ion-card-subtitle{
    display: inline-flex;
    margin-top: -15px;
}
ion-card-content{
    font-weight: bolder;
    margin-top: -7%;
}
.selectMargin{
    margin-left: 28%;
}
.firstCardSelect{
    margin-left: -4%;
}
.titleAudio{
   // position: absolute;
   // margin-top: 406px;
    margin-left: 4%;
    border-bottom: 1px solid;
    color: black;
    width: 90%;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    z-index: auto;
    background-color: #fff;
}

.audios{
    //position: absolute;
    //margin-top: 108%;
    // margin-left: 4%;
    // padding: 0px;
    padding-left: 10px;
}
.cardAudio{
    height: 130px;
    // margin-bottom: 20%;
     // opacity: 0.5;
     background:#3498db;
     position: absolute; 
     //z-index: 1;
     top: 80%;
     width: 100%;
}
ion-range{
    padding: 0px 10px 0px;
    --bar-height:3px;
}
.audioButton{
    height: 86px;
    min-height: max-content;
    margin: 0px 7px;
    font-size: 21px;
}
h5{
    margin: 4px 60px
}
.flex-box{
    margin-left: 10%;
    /* padding: 0px; */
    margin-top: -10%;
}
.return{
    position: absolute;
    top: 2px;
    color: white;
}