<ion-content class="wallpaper">
  <div class="entete">
    <ion-buttons slot="start">
      <ion-back-button class="button" defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </div>
  <div class="container">
    <div class="overlay"></div>
    <div class="content">
      <div class="title">
        <h2>Inscription</h2>
      </div>
      <form (ngSubmit)="register()">
        <div class="input-container">
          <div class="input1">
            <div class="icon-container">
              <ion-icon class="i1" name="person-outline"></ion-icon>
            </div>
            <input type="text" placeholder="Nom" name="nom" [(ngModel)]="user.nom" minlength="4" maxlength="50" required>
          </div>
          <div class="input1">
            <div class="icon-container">
              <ion-icon class="i1" name="person-outline"></ion-icon>
            </div>
            <input type="text" placeholder="Prenom" name="prenom" [(ngModel)]="user.prenom"  minlength="4" maxlength="50" required>
          </div>
          <div class="input1">
            <div class="icon-container">
              <ion-icon class="i1" name="mail-outline"></ion-icon>
            </div>
            <input type="email" placeholder="Email" name="email" [(ngModel)]="user.email" required>
          </div>
          <div class="input2">
            <div class="icon-container">
              <ion-icon class="i1" name="lock-closed-outline"></ion-icon>
            </div>
            <input type="password" placeholder="Mot de passe" name="password" [(ngModel)]="user.password" minlength="6" required>
          </div>
          <button type="submit">S'inscrire</button>
        </div>
      </form>
      <div *ngIf="errorMessage">
        <div class="text-red-500">{{errorMessage}}</div>
      </div>
    </div>
  </div>
  <div id="pop-up" class="pop-up hidden absolute z-10 top-0 w-full h-full justify-center items-center">
    <div class="w-2/3 h-[40%] rounded-md flex flex-col justify-center items-center bg-white relative left-[20%] top-[15%]">
      <h2 class="font-medium">👍👍 Compte creer avec succes</h2>
      <p>Veuillez confirmer votre address email!!</p>
      <p><a [routerLink]="['/login']"><span style="color:blue;">Se connectez maintenant !</span></a></p>
    </div>
  </div>
</ion-content>
