<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ajout de station Radio</ion-title>
  </ion-toolbar>
</ion-header>





<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <!-- Model Title : {{ model_title }} -->
      </ion-col>
    </ion-row>
    <form  [formGroup]="formRadios" (ngSubmit)="onSubmitt()">

      <label for="nom" >Nom</label>
      <input type="text"  id="nom"  formControlName="nom" >
      <label for="frequence" >Frequence</label>
      <input type="number"  id="frequence"  formControlName="frequence" >
      <label for="fluxAudio" >Flux Audio</label>
      <input type="text" id="fluxAudio" formControlName="fluxAudio" >
      <label for="emplacement">Emplacement</label>
      <input type="text"   id="emplacement" formControlName="emplacement"  >
      
      <ion-row>
        <ion-col text-center>
          <button class="Fermer" (click)="closeModel()">Fermer</button>
          <button class="sub" type="submit" >Ajouter</button>
        </ion-col>
      </ion-row>
  </form>
    
  </ion-grid>
</ion-content>
