
<img alt="Mosquee doree" src="../../assets/vue-celebre-mosquee-sheikh-zayed-abu-dhabi-par-nuit-emirats-arabes-unis.jpg" />
<ion-buttons slot="start" class="return">
  <ion-back-button defaultHref="tabs/autres"></ion-back-button>
</ion-buttons>
<ion-card class="cardSelect">
  <ion-card-header>
    <ion-card-title>Prêches
      <ion-button [routerLink]="['modifier-preche']" size="small" fill="solid" style="margin-bottom: 10px;">Enregistrer</ion-button></ion-card-title>
    <ion-card-subtitle>
      <ion-list class="firstCardSelect">
      <ion-item>
        <ion-select [(ngModel)]="selectedImam" (ionChange)="filterPreches()" aria-label="Imams" interface="popover" placeholder="Choisir Imam">
          <ion-select-option value="Mahi Ouattara">Mahi Ouattara</ion-select-option>
          <ion-select-option value="Abdoulaye Koita">Abdoulaye Koita</ion-select-option>
          <ion-select-option value="Ousmane C Haidara">Ousmane C Haidara</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-list *ngIf="filteredPreches.length > 0" class="audios h-screen relative">
  <div class="titleAudio"><span><ion-icon name="musical-note"></ion-icon> Audios</span></div>
  <div *ngFor="let preche of filteredPreches" class="relative" style="margin-left: 2%; margin-bottom: 3px;">
    <ion-label (click)="togglePlayback(preche)">{{ preche.id }} - Prêche de {{ preche.name }} </ion-label>
    <ion-icon style="position: absolute; left: 85vw;" name="trash-outline" color="danger"></ion-icon>
  </div>
  
</ion-list>
<div style="z-index: 1; position: absolute; top: 82vh; width: 100vw; padding-left: 20px;">
  <audio controls [id]="'audio-main'" *ngIf="selectedPreche" style="width: 90%;">
    <source [src]="selectedPreche.audioUrl" type="audio/mpeg">
    Votre navigateur ne prend pas en charge l'élément audio.
  </audio>
</div>

















