.cardSelect{
  top: 10%;
  width: 95%;
  height: auto;
  align-self: center;
  position: absolute;
  border-radius: 20px;
  opacity: 90%;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.25);
  z-index: 1;
}
ion-card-title{
  font-weight: 600;
}
ion-button{
    color: #3498db;
    left: 55vw;
    top: -2vh;
    font-weight: 700;
    position: absolute;
}
ion-card-subtitle{
  display: flex;
  justify-content: space-between;
}
ion-card-content{
  font-weight: bolder;
  margin-top: -7%;
}
.firstCardSelect{
  margin-left: -4%;
}
.titleAudio{
  margin-left: 4%;
  border-bottom: 1px solid;
  color: black;
  width: 90%;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  z-index: auto;
  background-color: #fff;
}
.audios{
  padding-left: 10px;
}
.cardAudio{
  height: 130px;
  background:#3498db;
  position: absolute; 
  top: 80%;
  width: 100%;
}
ion-range{
  padding: 0px 10px 0px;
  --bar-height:3px;
}
.audioButton{
  height: 86px;
  min-height: max-content;
  margin: 40px 7px;
  font-size: 21px;
}
.audioButton2{
  height: 86px;
  min-height: max-content;
  margin: 40px 30px;
  font-size: 21px;
  margin-left: 88px;
}
.audioButton3{
  height: 86px;
  min-height: max-content;
  margin: 40px 30px;
  font-size: 21px;
  margin-left: 170px;
}
h5{
  margin: 4px 60px
}
.flex-box{
  margin-left: 12%;
  margin-top: -5%;
}
.return{
  position: absolute;
  top: 2px;
  color: white;
}
//====================================================== players div =====================================================
#container {
  text-align: center;
  padding: 20px;
}
h2 {
  color: white;
  font-size: 16px;
  margin: 2px 0px;
}
ion-range {
  padding: 0px 10px;
  --bar-height: 3px;
}
p {
  color: #b7b6b6;
  font-size: 13px;
  margin: 0px;
  font-weight: 500;
}

#audio {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
