<!-- <ion-header  class="flex flex-row items-center justify-between px-2">
  <ion-back-button defaultHref="tabs/tab2"></ion-back-button> 
</ion-header>
<ion-content [fullscreen]="true">
  <div class="head overflow-auto flex flex-col justify-center">
    <img src="../../../assets/mosque1.png" alt=""> -->

    <!-- //FORMULAIRE -->

  <form (ngSubmit)="ajoutMosque()">
    <div class="container">
      <div class="row">
        <input  type="file" (change)="onFileSelected($event)" accept="image/*" placeholder="photo"/>
      </div>
    </div>
    <div class="form group row">
      <div class="col-xs-3">
        <ion-input label="Nom de mosquee" label-placement="floating" fill="outline" placeholder="Nom de mosquee" name="nom" [(ngModel)]="nom"></ion-input>
      </div>
      <div class="col-xs-3">
        <ion-input label="Nom de iman" label-placement="floating" fill="outline" name="imam" [(ngModel)]="imam" placeholder="Nom de iman" ></ion-input>
      </div>
      <div class="col-xs-3">
        <ion-input label="Telephone" label-placement="floating" fill="outline" name="numero" [(ngModel)]="numero" placeholder="Telephone de mosquee"></ion-input>
      </div>
      <div class="col-xs-3">
        <ion-input label="Quartier" label-placement="floating" fill="outline" name="quartier" [(ngModel)]="quartier" placeholder="Quartier de la mosque"></ion-input>
      </div>
      <div class="col-xs-3">
        <ion-input label="Lagititude" label-placement="floating" fill="outline" name="latitude" [(ngModel)]="latitude" placeholder="Latitude de la mosque"></ion-input>
        <ion-input label="Longitude" label-placement="floating" fill="outline" name="longitude" [(ngModel)]="longitude" placeholder="Longitude de la mosque"></ion-input>
      </div>
    </div>

    <div class="container2">
      <div class="row2">
        <span class="priere">Programme de priere</span>
        <div class="text">
          <span>Priere</span>
          <span>Iqama</span>
        </div>
        <div class="text">
          <span>Fadj </span>
          <span><input type="time" name="fadjr" [(ngModel)]="fadjr" id="appt"></span>
        </div>
        <div class="text">
          <span>Duhr </span>
          <span><input type="time" name="dhuhr" [(ngModel)]="dhuhr" id="appt" ></span>
        </div>
        <div class="text">
          <span>Asr </span>
          <span><input type="time" name="asr" [(ngModel)]="asr" id="appt" ></span>
        </div>
        <div class="text">
          <span>Magrib</span>
          <span><input type="time" name="maghrib" [(ngModel)]="maghrib" id="appt" ></span>
        </div>
        <div class="text">
          <span>Isha </span>
          <span><input type="time" name="isha" [(ngModel)]="isha" id="appt" ></span>
        </div>
        <div class="text">
          <span>Djuma </span>
          <span><input type="time" name="djuma" [(ngModel)]="djuma" id="appt" ></span>
        </div>

      </div>
    </div>

    <div class="container2">
      <div class="row2">
        <span class="priere">Programme de tabsir</span>
        <div class="text">
          <span>Jour</span>
          <span>Heure</span>
        </div>
        <div class="text">
          <span>Lundi</span>
          <span><input type="time" id="appt" name="lundi" [(ngModel)]="lundi"></span>
        </div>
        <div class="text">
          <span>Mardi</span>
          <span><input type="time" id="appt" name="mardi" [(ngModel)]="mardi"></span>
        </div>
        <div class="text">
          <span>Mercredi</span>
          <span><input type="time" id="appt" name="mercredi" [(ngModel)]="mercredi"></span>
        </div>
        <div class="text">
          <span>Jeudi</span>
          <span><input type="time" id="appt" name="jeudi" [(ngModel)]="jeudi"></span>
        </div>
        <div class="text">
          <span>Vendredi</span>
          <span><input type="time" id="appt" name="vendredi" [(ngModel)]="vendredi"></span>
        </div>
        <div class="text">
          <span>Samedi</span>
          <span><input type="time" id="appt" name="samedi" [(ngModel)]="samedi"></span>
        </div>
        <div class="text">
          <span>Dimanche</span>
          <span><input type="time" id="appt" name="dimanche" [(ngModel)]="dimanche"></span>
        </div>
      </div>
    </div>
    <div class="btn">
      <button class="btn btn-primary" type="submit">Enregistrer</button>
    </div>
  </form>

</div>
</ion-content> -->

