<ion-header [translucent]="true">
  <div class="entete">
    <ion-buttons slot="start">
      <ion-back-button class="button" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Profil de l'utilisateur</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon class="icon" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="container1">
      <img src="../../../assets/fond.png" alt="Ma première photo">
    </div>
  </div>

 <div class="user">
  <div class="profile">
    <img src="../../../assets/profile1.jpg" alt="UserProfile">
  </div>
 </div>
    <div class="container3">
      <div class="nameuser">
        <div class="titre">
          <h2>Ibrahima Sogoré</h2>
        </div>
        <div class="up">
          <input type="button" value="Modifier profil">
        </div>
      </div>
      <div class="evalue">
        <div class="icon">
          <div class="icon1">
            <ion-icon name="create-outline"></ion-icon>
            <p>Evaluer l'application</p>
          </div>
        </div>
        <div class="icon">
          <div class="icon1">
            <ion-icon name="arrow-undo-outline"></ion-icon>
            <p>Partager Dinɛ Sira</p>
          </div>
        </div>
        <div class="icon">
          <div class="icon2">
            <ion-icon name="alert-circle-outline"></ion-icon>
            <p>A propos</p>
          </div>
        </div>
      </div>
    </div>
    <div class="logout">
      <div class="icon-user">
        <i class="ri-logout-box-line"></i>
        <input [routerLink]="['/login']" type="button" value="Se déconnecter">
      </div>
  </div>
</ion-content>
