<ion-header [translucent]="true">
  <div class="entete">
    <ion-buttons slot="start">
      <ion-back-button class="button" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Profil de l'utilisateur</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="container1">
      <img class="image" src="../../assets/fond.png" alt="Ma première photo">
    </div>
  </div>

 <div class="user">
  <div class="profile">
    <img src="../../assets/profile1.jpg" alt="UserProfile">
  </div>
 </div>
    <div class="container3">
      <div class="nameuser">
        <div class="titre">
          <h2>Ibrahima Sogoré</h2>
        </div>
        <div class="up">
          <input type="button" value="Modifier profil">
        </div>
        <div class="ajout">
            <ion-icon class="add" name="add-circle-outline"></ion-icon>
          <input routerLink="/annonce" type="button" value="Ajouter annonce">
        </div>
      </div>
      <div class="evalue">
        <div class="icon">
          <div class="icon1">
            <ion-icon class="p1" name="create-outline"></ion-icon>
            <p class="texte" >Evaluer l'application</p>
          </div>
        </div>
        <div class="icon">
          <div class="icon1">
            <ion-icon class="p2" name="arrow-undo-outline"></ion-icon>
            <p class="texte">Partager Dinɛ Sira</p>
          </div>
        </div>
        <div class="icon">
          <div class="icon2">
            <ion-icon class="p3" name="alert-circle-outline"></ion-icon>
            <p class="texte">A propos</p>
          </div>
        </div>
      </div>
    </div>
    <div class="logout">
      <div class="icon-user">
        <i class="ri-logout-box-line"></i>
        <input type="button" value="Se déconnecter">
      </div>
  </div>
</ion-content>
