<div class="container">
  <div class="head">
    <ion-searchbar placeholder="Rechercher une mosquée"></ion-searchbar>
  </div>
  <div class="body">
    <div class="favories">
      <h3>Favoris</h3>
      <ion-icon name="add-circle" type="button" [routerLink]="['ajouter-mosque']"></ion-icon>
      <div class="trait"></div>
      <div class="image-container">
        <div class="image-list">
            <img src="../assets/premium_photo-1678563876224-dbb520ffef17.jpeg" alt="Image 1" [routerLink]="['detail-mosque']" class="cursor-pointer">
            <img src="../../../assets/mosque.jpg" alt="">
            <img src="../../../assets/mosque.jpg" alt="">
            <img src="../../../assets/mosque.jpg" alt="">
        </div>
      </div>
      <div class="trait"></div>
    </div>

    <ion-card color="light" [routerLink]="['ajouter-mosque']" >
      <ion-card-header>
        <img src="../../../assets/mosque.jpg" alt="">
        <ion-card-title> <p>listMosque.nom</p> <p>Abdoulaye</p> <p>Lafiabougou</p> </ion-card-title>
        <ion-card-subtitle>ttt</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card color="light">
      <ion-card-header>
        <img src="../../../assets/mosque.jpg" alt="">
        <ion-card-title> <p>AL KOUSRAT</p> <p>Abdoulaye KOITA</p> <p>Lafiabougou</p> </ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card color="light">
      <ion-card-header>
        <img src="../../../assets/mosque.jpg" alt="">
        <ion-card-title> <p>AL KOUSRAT</p> <p>Abdoulaye KOITA</p> <p>Lafiabougou</p> </ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card color="light">
      <ion-card-header>
        <img src="../../../assets/mosque.jpg" alt="">
        <ion-card-title> <p>AL KOUSRAT</p> <p>Abdoulaye KOITA</p> <p>Lafiabougou</p> </ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card color="light">
      <ion-card-header>
        <img src="../../../assets/mosque.jpg" alt="">
        <ion-card-title> <p>AL KOUSRAT</p> <p>Abdoulaye KOITA</p> <p>Lafiabougou</p> </ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    

   
  </div>
</div>

