<div class="container">
  <div class="flex p-3 justify-between items-center">
    <h2 class="font-bold">Favoris</h2>
    <div class="relative flex items-center bg-gray-100 rounded-md pl-1"><ion-icon 
      class=" h-5 w-5 text-gray-600" name="search"></ion-icon><input type="search" placeholder="Chercher une Mosquée"
      class="border-blue-200 rounded-md outline-none
      p-2 bg-gray-100 "
    /></div>
  </div>

  <div class="trait">
      <div class="image-container">
        <div class="image-list">
            <img src="../assets/premium_photo-1678563876224-dbb520ffef17.jpeg" alt="Image 1">
            <img src="../assets/premium_photo-1678563876224-dbb520ffef17.jpeg" alt="Image 2">
            <img src="../assets/premium_photo-1678563876224-dbb520ffef17.jpeg" alt="Image 3">
            <img src="../assets/Un-Saoudien-fonce-en-voiture-sur-la-grande-mosquee-de-La-Mecque.jpg" alt="Image 4">
  </div>

    </div>

    <div class="add-image">
        
        <button type="button" class="add-button" [routerLink]="['ajouter-mosque']">Ajouter une Mosquée</button>
    </div> <br>
  </div>

  <div>
    <h1>Choisir dans map</h1>
  </div>
</div>

