.header{
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
ion-back-button{
    color: black;
    margin-top: 0%;
    margin-bottom: auto;
}
.header h1{
  text-align: left;
  color: black;
    
}

.header h1{
    font-size: 50px;
    font-weight: bold;
    color: black;
    padding-left: 10px;
}
.header img{
    // position: relative;
    // left: 75%;
    margin-left: auto;

    
}
.list-radios img{
    margin-top: auto;
}
// .icone{
//     position: absolute;
// }
.flex flex-col{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}
.detailtext{
    flex: 1;
    margin: 5px;
    margin-top: 15px !important;
    width: calc(50% - 10px);
    font-size: 10%;
    bottom: 10%;  
}
.frequence{
    position: absolute;
    top: 0;
    right: 1%;
}
.taille-frequence {
    font-size: 20px; 
  }
  
  .taille-nom {
    font-size: 20px;
  }
  .Ajouter{
    border-radius: 10px;
    background-color: rgb(124, 185, 109);
    width: 80px;
    height: 35px;
    &:hover{
    background-color: green;
    }
  }
  #container{
    padding: 10px;
  }
  ion-content{
    height: 45px;
  }

  ion-label{
    justify-content: space-around;
    text-align: center;
  }
