  <div class="header">
      <ion-back-button defaultHref="/tabs/autres"></ion-back-button>
      <h1>FM</h1>
      <img src="../../assets/🦆 icon _radio_.png" alt="">
  </div>
  

<ion-content>
  
  <ion-list>
    <ion-item *ngFor="let radio of radios">
      <ion-avatar slot="start">
        <img alt="radio info" src="../../assets/🦆 icon _radio_.png" />
      </ion-avatar>
      <ion-label lines="none">
        {{radio.nom}} <br>
        {{radio.lieu}}
      </ion-label>
      <ion-label  class="font-size: 30px" style="margin-left: 10px; "> <!-- Ajoutez une marge à gauche -->
        {{radio.frequence}}
      </ion-label>
    </ion-item>
  </ion-list>
  

</ion-content>



  